body {    
    background-color: #79645d;
    font-family: 'Aniron', sans-serif;
}

.nav_bar {
    background-color: #d7c5ae;
    color: #333;
    font-weight: bold;
    border: 3px solid #000000;
}

.nav_logo {
    background: url(../image/ring.png) no-repeat center center;
    margin-left: 20px;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.nav_text {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: -150px;
}

.content {
    padding: 15px;
    color: #000000;
}

.reg {
    text-align: center;
}

h1 {
    margin-top: 30px
}

.col-8 {
    margin-top: 30px
}

.col-4 {
    margin-top: -70px
}

.photo_info {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    background-color: #d7c5ae;
    padding: 15px;
    border: 5px solid #000000;
    margin-top: 5px;
}

.my_photo {
    background: url(../image/aragorn.webp) no-repeat center center;
    background-size: cover;
    width: 300px;
    height: 500px;
    border: 3px solid #2c2121;
}

p {
    margin-top: 10px;
}

.button_js {
    text-align: center;
}

#myButton {
    margin-top: 10px;
    border: rgb(86, 21, 21);
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: rgb(123, 17, 17);
    color: #d7c5ae;
    font-weight: bold;
}

#demo img {
    margin-bottom: 20px;
    width: 40%;
}

